.btn {
  // reset
  font-family: inherit;
  background: transparent;
  border: none;
  color: currentColor;
  padding: 0;
  margin: 0;
  cursor: pointer;

  border-radius: var(--border-radius);
  transition: all 0.12s ease-in-out;

  &:active {
    transform: translateY(3px);
  }

  &:disabled {
    cursor: default;
    opacity: 0.6;
    &:active {
      transform: translateY(0px);
    }
  }
}

.contained {
  background: var(--color-green-primary);
  color: var(--color-cream-light);
  &:hover {
    background: var(--color-green-dark);
    color: #fff;
  }
}

.outlined {
  background: transparent;
  border: 1px solid currentColor;
}

.text {
  padding: 0;
}

.md {
  padding: 1rem 1.5rem;
}
.input {
  padding: 0.8rem 1.25rem;
  min-width: 56pxadas;
}
.lg {
  padding: 1.25rem 3rem;
}

.fullWidth {
  width: 100%;
}
.shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

// theme
.error {
  background-color: var(--color-pink-light);
  color: var(--color-red);
}

.cream {
  background-color: var(--color-cream-light);
  color: var(--color-brown);
  &:hover {
    background-color: var(--color-cream-dark);
    color: var(--color-brown-dark);
  }
}
